.slideshow
        .slideshow__display
            .slideshow__preloader
            img(src = "images/slideshow/small/image1.png" data-zoom-image="images/slideshow/large/image1.jpg").slideshow__display-img
        ul().slideshow__thumbs
            li(href="images/slideshow/small/image1.png" data-zoom-image="images/slideshow/large/image1.jpg").slideshow__thumbs-item
                a.slideshow__thumbs-link
                    img(src = "images/slideshow/thumb/image1.jpg" ).slideshow__thumbs-img
            li(href="images/slideshow/small/image2.png" data-zoom-image="images/slideshow/large/image2.jpg").slideshow__thumbs-item
                a.slideshow__thumbs-link
                    img(src = "images/slideshow/thumb/image2.jpg" ).slideshow__thumbs-img
            li(href="images/slideshow/small/image3.png" data-zoom-image="images/slideshow/large/image3.jpg" ).slideshow__thumbs-item
                a.slideshow__thumbs-link
                    img(src = "images/slideshow/large/image3.jpg").slideshow__thumbs-img
            li(href="images/slideshow/small/image4.png" data-zoom-image="images/slideshow/large/image4.jpg" ).slideshow__thumbs-item
                a.slideshow__thumbs-link
                    img(src = "images/slideshow/large/image4.jpg").slideshow__thumbs-img
